.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;

}

.top-form {  
  z-index: 1;
  padding: 10px;
  border: 55px solid orangered;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}

form {
  display: flex;
  flex-direction: column; 
  /* width: 60px;  */
}

form input {
  border: none;
  border-bottom: 1px solid rgb(214, 213, 213);
  margin-bottom: 10px;
  width: 70vw;
  font-weight: 550;
}

form button {
  width: 170px;
  background-color:   rgb(41, 16, 2);
  color: whitesmoke;
  border: none;
  height: 60px;
  margin-top: 10px;
  letter-spacing: 1.2px;
  font-weight: 550;
}

.container-two {
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  gap: 20px;
  }
  
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 40vw; */
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-top: none;
    border-right: none;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-left: 100px;
  }
  
  .services:hover {
    transform: scale(1.1);
  }
  
  .services h3 {
    /* color: #333; */
    color: rgb(19, 7, 1);
    font-size: 22px;
    margin-bottom: 10px;
    opacity: 88%;
  }
  
  .services p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .services svg {
    color: rgb(17, 235, 162);
    font-size: 40px;
  }

  .container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    background-color: #faf6f6;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.6;
    margin-left: 130px;
    /* margin-top: -50px; */

  }

  .left-side p {
    color: rgba(19, 7, 1, 0.568);
    font-size: 20px;
    line-height: 1.5;
  }

  .left-side h1 {
    font-size: 37.2px;
    margin-bottom: 0;
    color: rgb(19, 7, 1);
  }

  .right-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;

  }

  .right-side img {
    width: 400px;
    max-height: 300px;
  }

  .right-side .img2 {
    border-radius: 15px;
  }

  .left-side span {
    color: rgb(10, 231, 158);
  }

  .container4 {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .sample-menu {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 54vw;
    margin-bottom: 40px;
    padding: 20px 0;
  }

  .sample-menu svg {
    position: relative;
    display: block;
    color: rgb(17, 235, 162);
    font-size: 40px;
  }

  .sample-menu .icon-container {
    position: relative;
    display: inline-block;
  }

  .sample-menu .icon-container::before,
  .sample-menu .icon-container::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 350px;
    height: 1px;
    background-color: rgb(214, 212, 212);
  }

  .sample-menu .icon-container::before {
    left: 60px;
  }

  .sample-menu .icon-container::after {
    right: 60px;
  }

  .sample-menu h1 {
    color: rgb(19, 7, 1);
    font-size: 34px;
  }

  .sample-menu p {
    /* color: #666; */
    color:  rgba(19, 7, 1, 0.568);
    font-size: 19px;
    line-height: 1.5;
  }

  .menu-container {
    max-width: 110vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
  }

  .menu-item .img {
    max-width: 340px;
    object-fit: cover;
    
  }

  .menu-btn {
    display: flex;
    justify-content: center;
    margin: 40px;
  }

  .menu-btn button {
    font-size: 14px;
    padding: 6px 28px;
    border-width: 0.5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: rgb(10, 231, 158);
    color: #fff;
    border: none;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-details {
    display: flex;
    flex-direction: column;
    width: 310px;
    /* margin-top: 6px; */
    /* background-color: #666; */
  }

  .menu-details h3 {
    margin-bottom: -8px;
    color:  rgb(19, 7, 1);;
  }

  .menu-details p {
    color: rgb(8, 192, 131);
  }
  